<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<link rel="stylesheet" href="/static/css/style.css">
<title>Insert title here</title>
</head>

<body>
	
	<div id="wrap">
		<th:block th:replace="~{fragments/userheader}"></th:block>
		
		<div class="d-flex ">
			<div class="sidenav  ">
				 
				<nav class=" ">
	                <ul class="nav flex-column font-weight-bold pt-1">
	                    <li th:if="${session.userId!=null}" class="nav-item ml-3" th:text="|${session.nickname}님|">누구님</li>
	                    <li class="nav-item my-3"><a href="/post/view/create" class="nav-link ">글쓰기</a></li>
	                    <li class="nav-item my-3"><a href="/post/view/timeline" class="nav-link ">타임라인</a></li>
	                    <li class="nav-item my-3"><a href="/user/view/mypage" class="nav-link ">내 글 목록</a></li>
	                    <li th:if="${session.userId!=null}" class="nav-item my-3"><a href="/user/logout" class="nav-link ">로그아웃</a></li>
	                </ul>
            	</nav>
            	
			</div>
				
			<!-- <div class="main-contents bg-warning"></div>    이 위치가 사이드 내브바를 제외한 컨텐츠 위치니까, 
																여기다가 fragment 를 넣으면 되겠지?    -->
			<th:block layout:fragment="contents"></th:block>
		</div>
		
		<th:block layout:fragment="contents"></th:block>
		
		<th:block th:replace="~{fragments/userfooter}"></th:block>
	</div>
	
	
	
	<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
	<th:block layout:fragment="script"></th:block>
	

</body>
</html>