<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.ds04011.dsgram.user.repository.UserRepository">
 	
 	<insert id="insertUser">
 		insert into `user`
 		(
 			`loginId`
 			, `password`
 			, `email`
 			, `nickname`
 		)
 		value
 		(
 			#{loginId}
 			, #{password}
 			, #{email}
 			, #{nickname}
 		)
 	
 	</insert>
 
 	<select id="countByEmail"
 	parameterType="String"
 	resultType="int">
 		select count(*) From
 			`user`
 		where
 			`email` = #{email}
 	</select>
 		
 	<select id="countByNickname"
 	parameterType="String"
 	resultType="int">
 		Select count(*) From 
 			`user`
 		where 
 			`nickname` = #{nickname}
 	
 	</select>	
 		
 	<select id="selectUser"
 	parameterType="Map"
 	 resultType="com.ds04011.dsgram.user.domain.User">
 	 	Select 
 	 		`id`
 	 		, `loginId`
 	 		, `password`
 	 		, `nickname`
 	 		, `email`
 	 		, `createdAt`
 	 		, `updatedAt`
 	 	From
 	 		`user`
 	 	Where
 	 		`loginId` = #{loginId}
 	 		And
 	 		`password` = #{password}
 	
 	</select>	
 	
 	<select id="selectUserById"
 	parameterType="long"
 	resultType="com.ds04011.dsgram.user.domain.User">
 		Select 
 			`id`
 			, `loginId`
 	 		, `password`
 	 		, `nickname`
 	 		, `email`
 	 		, `createdAt`
 	 		, `updatedAt`
 	 	From
 	 		`user`
 	 	Where
 	 		`id` = #{id}
 	</select>
 
 </mapper>