<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/timelinedefault}">
        
        
        <section layout:fragment="contents">
        	<!-- 이제 이 안에 포스트 리스트 불러와서 반복문으로 쭉 깔면 된다.  -->
        	<div class="outer d-flex flex-column align-items-center ">

	        		
	        		<div class="postBox my-3 border border-secondary rounded-lg ">	
        				<div class="pl-2 postinfo">
        					<h4 th:text="${post.nickname}"></h4>
        					<span th:text="${#temporals.format(post.createdAt, 'yyyy, M, d, a h시 m분') }"></span>
        					<hr>
        				</div>
        				
        				<div class="poststory d-flex ">
	        				<img th:if="${post.imagePath != null}" th:src="${post.imagePath}" width="200px"  class="col-6 my-4 ">
	        				<div class="textContent p-4 m-2 col-6 border-left" th:text="${post.contents}"></div>
	        				
        				</div>
        				
        				<!--  여기에 comments 로 넘어온 정보 이용해서 표현. -->
        				 <div class="commentandlike ">
        				 	<div>
        				 		<button type="button" class="bi bi-balloon-heart  ml-2 mt-2"></button><br>
        				 		<div class="d-flex justify-content-between align-items-end">
        				 			<div class="flex-grow-1">
        				 				<span class=" ml-2 mt-2">댓글이 이렇게 표현되요</span><br>
        				 				<span class=" ml-2 mt-2">댓글이 이렇게 표현되요</span>
        				 			</div>
        				 			<button type="button" class="btn  btn-outline-secondary btn-sm px-2 py-1">댓글 쓰기</button>
        				 		</div>
        				 	</div>
        				 </div>
    	    		</div>

        	</div>
        </section>
        
        
        
</html>