<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/timelinedefault}">
        
        
        <section layout:fragment="contents">
        	<!-- 이제 이 안에 포스트 리스트 불러와서 반복문으로 쭉 깔면 된다.  -->
        	<div class="outer d-flex flex-column align-items-center ">

	        		
	        		<div class="postBox my-3 border border-secondary rounded-lg ">	
        				<div class="pl-2 postinfo">
        					<h4 th:text="${post.nickname}"></h4>
        					<span th:text="${#temporals.format(post.createdAt, 'yyyy, M, d, a h시 m분') }"></span>
        					<hr>
        				</div>
        				
        				<div class="poststory d-flex ">
	        				<img th:if="${post.imagePath != null}" th:src="${post.imagePath}" width="200px"  class="col-6 my-4 ">
	        				<div class="textContent p-4 m-2 col-6 border-left" th:text="${post.contents}"></div>
	        				
        				</div>
        				
        				<!--  여기에 comments 로 넘어온 정보 이용해서 표현. -->
        				 <div class="commentandlike1 ">
        				 	<div>
        				 		<!-- th:unless 로 조건 줘서 postDto 에 post.isLike 로 다른 아이콘 넣고, 여기에 JS 연동시키고,  -->
        				 		<button type="button" th:if="${isLike}" class="bi bi-balloon-heart-fill heart-icon-fill ml-2 mt-2" th:data-post-id="${post.id}"></button>
        				 		<button type="button" th:unless="${isLike}" class="bi bi-balloon-heart heart-icon ml-2 mt-2" th:data-post-id="${post.id}"></button>
        				 		
        				 		<span>좋아요</span><span th:text="|${likeCount} 개|"></span>
        				 		<br>
        				 		<div class="d-flex justify-content-between align-items-end">
									<!--  <div class="flex-grow-1 commentarea" th:each="comment : ${comments} ">
										<p class="ml-2 mt-2" th:text="${comment.contents}"></p>
									</div> -->
									<div class="commentarea" th:if="${not #lists.isEmpty(comments)}">
									    <th:block th:each="comment : ${comments}" >
									        <span class="ml-2"><b th:text="${comment.nickname}"></b><span class="ml-2" th:text="${comment.contents}"></span></span><br>
									    </th:block> 
									</div>
									<div th:if="${#lists.isEmpty(comments)}">
									    <p class="text-muted">아직 댓글이 없습니다.</p>
									</div>
									
        				 			
        				 		</div>
        				 	</div>
        				 	
        				 	<div class="d-flex my-3 p-2">
        				 		<input type="text" class="form-control col-10 p-2" id="contentsInput"> 
        				 		<button type="button" class="btn  btn-outline-secondary col-2 btn-sm px-2 py-1" id="commentBtn" th:data-post-id="${post.id}">댓글달기</button>
        				 	</div>
        				 </div>
    	    		</div>

        	</div>
        </section>
        
        <script layout:fragment="script">
        	
        	$("#commentBtn").on("click", function(){
        		let contents = $("#contentsInput").val();
        		let postId = $(this).data("post-id");
        		
        		if(contents==""){
        			alert("댓글 내용을 입력하신 후 댓글달기를 눌러주세요");
        			return;
        		}
        		
        		
        		
        		$.ajax({
        			type:"post"
        			, url:"/comment/create"
        			, data:{"postId":postId, "contents":contents}
        			, success:function(response){
        				if(response.result="success"){
        					location.reload();
        					
        				} else{
        					alert("댓글 작성 실패");
        				}
        			}
        			, error:function(){
        				alert("댓글 작성중 통신 에러");
        			}
        		});
        		
        		
        		
        		
        		$(".heart-icon").on("click", function(){
            		let postId = $(this).data("post-id");
            		
            		$.ajax({
            			type:"post"
            			, url:"/like/create"
            			, data:{"postId":postId}
            			, success:function(response){
            				if(response.result =="success"){
            					location.reload(); // 좋아요 개수 갱신되게,
            				} else {
            					alert("좋아요 기능 실패");
            				}
            				
            			}
            			, error:function(){
            				alert("좋아요 기능 중 통신 에러");
            			}
            		});
            	});
            
            	
            	$(".heart-icon-fill").on("click", function(){
            		let postId = $(this).data("post-id");
            		
            		$.ajax({
            			type:"post"
            			, url:"/like/delete"
            			, data:{"postId":postId}
            			, success:function(response){
            				if(response.result =="success"){
            					location.reload(); // 좋아요 개수 갱신되게,
            				} else {
            					alert("좋아요 기능 실패");
            				}
            				
            			}
            			, error:function(){
            				alert("좋아요 기능 중 통신 에러");
            			}
            		});
            	});
        		
        	});
        
        </script>
        
</html>