<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/timelinedefault}">
        
        
        <section layout:fragment="contents">
        	<!-- 이제 이 안에 포스트 리스트 불러와서 반복문으로 쭉 깔면 된다.  -->
        	<div class="outer d-flex flex-column align-items-center ">
        	        		<!-- ${session.nickname} 이거 로그인한 유저 정보임. 
        					포스트 작성자 닉네임이 아님. 그래서 PostDto 가 필요함.
        					Dto 에 user nickname 을 담아서 보냈으니, 이제 꺼내 쓸수 있음. -->
	        		
	        		<div class="postBox my-3 border border-secondary rounded-lg " th:each="post : ${postList}">	
        				<div class="pl-2 postinfo">
        					<h4 th:text="${post.nickname}"></h4>
        					<span th:text="${#temporals.format(post.createdAt, 'yyyy, M, d, a h시 m분') }"></span>
        					<hr>
        				</div>
        				
        				<div class="poststory d-flex ">
	        				<img th:if="${post.imagePath != null}" th:src="${post.imagePath}" width="200px"  class="col-6 my-4 ">
	        				<div class="textContent p-4 m-2 col-6 border-left" th:text="${post.contents}"></div>
	        				
        				</div>
        				
        				 <div class="commentandlike ">
        				 	<div>											<!--heart-icon 로 JS 버튼 등록            , 태그에 postId 할당, JS 에서 쓰자.  -->
        				 		<button type="button" th:if="${post.isLike}" class="bi bi-balloon-heart-fill heart-icon-fill ml-2 mt-2" th:data-post-id="${post.id}"></button>
        				 		<button type="button" th:unless="${post.isLike}" class="bi bi-balloon-heart heart-icon ml-2 mt-2" th:data-post-id="${post.id}"></button>
        				 		<span th:text="${post.likeCount}">좋아요 11개</span>
        				 		<br>
        				 		<div class="d-flex justify-content-between align-items-end">
        				 			<div class="flex-grow-1">
        				 				<span th:if="${#lists.isEmpty(post.commentList) == false}" class="ml-2 mt-2">
  											<b th:text="${post.commentList[0].nickname}">작성자</b> <span th:text="${post.commentList[0].contents}"></span>
										</span><br>
        				 				<span th:if="${#lists.size(post.commentList) >= 2}" class="ml-2 mt-2">
  											<b th:text="${post.commentList[1].nickname}">작성자</b> <span th:text="${post.commentList[1].contents}"></span>
										</span>
        				 				
        				 				
        				 				
        				 			</div>
        				 			<a th:href="|/post/view/detail?id=${post.id}|" class="btn  btn-outline-secondary btn-sm px-2 py-1">상세보기</a>
        				 			<!--  	이게 최적 1. a태그 + 타임리프로 id 얹어서 보내기 
        				 					이건안댐!! 매번 반복해야하니까, 2. 반복되는 버튼에 타임리프로 th:id="|~~${}|" 로 id 부여 후 ajax통신
        				 					이건 굳이, 3. class="머시기btn " 이렇게 부여하고, 클래스로 버튼등록하고, data-~~~ 로 값 부여해서 ajax 통신 -->
        				 		</div>
        				 	</div>
        				 </div>
    	    		</div>

        	</div>
        </section>
        
        
        
        
        
        <!-- 
        	반복되는 버튼에 th:data-post-id = ${post.id} 이런식으로 값 부여
        	반복되는 버튼이면 클래스에 이름 부여, 
        	스크립트에서 버튼이 눌렸을때에,    $(this).data("post-id")
        	의 형식으로 그 버튼이 가지고 있는 값을 가지고 와서
        	기능 수행. 
        	이걸로 상세 보기 만들면 되겠다. 
        	근데 이게 API 와 화면 넘기기 기능에 따라 좀 다를거같은데, 
        	API 는 이 방식이 제일 좋은건 맞는듯. 
        	
        	
        	중요한건, 반복되는 것에 같은 id 부여하면 안됨
        	버튼에 정보 가져오는건 ok, 반복되는 input 에서는 어떻게 val 을 가져오냐?
        	input 옆에 있는 버튼 과 연동시키는 방법으로 해야함. 
        	
        	1. 태그 위치 기반으로 정보 가져오기. 
        	버튼태그 바로 앞에 input 태그가 있으면, 그보다 바로 앞의 객체를 가져오게 하는게 가능함.
        	
        	$(this).prev().val();              이벤트 발생 버튼 앞의 태그 의 val 가져오는것.             
        	
        	근데 보다시피 좀 불안정함. 살짝만 바뀌어도 딴거가져올듯? 그리고 태그가 복잡하면 `앞` 이라는 것도 애매함
        	
        	2. id 부여하는데, 뒤에 뭔가를 붙이자, 
        	th:id="|commentInput${post.id}|" 이런 느낌으로 
        	반복되는 버튼의 id 가 매번 달라지며, 동시에 가져오기에도 쉽다.
        	
        	가져올 때?    $("#commentInput" + postId)  이렇게 문자열 합성 해서 넣으면 그만.
        	
        	
        
        
        	상세 보기 말고 그냥 화면 클릭했을 때에 그 게시글 상세로 들어가는게 더 SNS 스럽긴한데,,
        	
        
         -->
        
        
        
        
        
        
        
        <script layout:fragment="script">
        	$(".heart-icon").on("click", function(){
        		let postId = $(this).data("post-id");
        		
        		$.ajax({
        			type:"post"
        			, url:"/like/create"
        			, data:{"postId":postId}
        			, success:function(response){
        				if(response.result =="success"){
        					location.reload(); // 좋아요 개수 갱신되게,
        				} else {
        					alert("좋아요 기능 실패");
        				}
        				
        			}
        			, error:function(){
        				alert("좋아요 기능 중 통신 에러");
        			}
        		});
        	});
        
        	
        	$(".heart-icon-fill").on("click", function(){
        		let postId = $(this).data("post-id");
        		
        		$.ajax({
        			type:"post"
        			, url:"/like/delete"
        			, data:{"postId":postId}
        			, success:function(response){
        				if(response.result =="success"){
        					location.reload(); // 좋아요 개수 갱신되게,
        				} else {
        					alert("좋아요 기능 실패");
        				}
        				
        			}
        			, error:function(){
        				alert("좋아요 기능 중 통신 에러");
        			}
        		});
        	});
        
        </script>
        
</html>