<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/userdefault}">
        
        <!-- 위가 틀 소환, 아래가 알맹이 . -->  
        
        
        
		<section layout:fragment="contents" class="contents  d-flex justify-content-center">
			<div class="pic bg-dark col-5 p-2 mr-5">
			
			</div>
			
			<div class=" col-5 p-2">
				<div class="user-box  ml-5">
					<h3 class="">Dsgram 과 함께</h3>
					<form id="loginForm">
						<input type="text" class="form-control mt-5" placeholder="아이디" id="idInput">
						<input type="password" class="form-control mt-3" placeholder="password" id="passwordInput">
						<button type="submit" class="btn btn-secondary btn-block mt-3" id="loginBtn">Login</button>
					</form>
					<div class="d-flex justify-content-end mt-3"><a href="/user/view/register">합류하라</a></div>
				</div>
			</div>
		</section>

	
		<script layout:fragment="script">
		
			// 좀더 좋은 ux 를 가진 로그인 페이지, 엔터로 로그인 되게 해보자. 
			// form 태그는 엔터로도 기능이 작동함. 
			// 근데 이제 alert 이후 페이지 초기화됨. form 에 의해 새로고침이 된다. 주소 뒤의 ? 가 그걸 보여줌
			// 정확하게 form 태그에 의한 동작을 제어해야 함. 
			
			// $("#loginBtn").on("click", function(){}) 에서 아래의 형태로, 이벤트 등록.
			$("#loginForm").on("submit", function(e){
				
				// 추가로 form 태그의 기능을 제거해야함. function 의 파라미터로 (e) 제어하자.
				e.preventDefault();       // 기존의 기능을 제거. 
				// 이제 새로고침이 없어짐 , 
				let idInput = $("#idInput").val();
				let password = $("#passwordInput").val();
				
				if(idInput==""){
					alert("아이디를 입력해주세요.");
					return;
				}
				if(password ==""){
					alert("비밀번호를 입력해주세요.");
					return;
				}
				
				
				
				$.ajax({
					type:"post"
					, url:"/user/login"
					, data:{"loginId":idInput, "password":password}
					, success:function(response){
						if(response.result =="success"){
							location.href="/post/view/timeline";
						} else {
							alert("로그인에 실패하셨습니다.");
							location.href="/user/view/login";
						}
						
					} 
					, error:function(){
						alert("로그인 과정 중 통신 에러");
					}
					
					
					
				});
				
			});
		
		</script>
	


</html>