<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/userdefault}">
        
        <!-- 위가 틀 소환, 아래가 알맹이 . -->  
        
        
		<section layout:fragment="contents" class="contents  d-flex justify-content-center">
			<div class="pic bg-dark col-5 p-2 mr-5">
			
			</div>
			
			<div class=" col-5 p-2">
				<div class="user-box  ml-5">
					<h3 class="">회원가입을 진행하세요</h3>
					<input type="text" class="form-control mt-5" placeholder="아이디">
					<div class="d-flex justify-content-end"><button type="button" class="btn btn-sm btn-secondary " >중복</button></div> <!-- div로 감싸서  -->
					<input type="password" class="form-control mt-3" placeholder="password">
					<input type="password" class="form-control mt-3" placeholder="password check">
					<input type="text" class="form-control mt-3" placeholder="이름">
					<input type="text" class="form-control mt-3" placeholder="이메일">
					<div class="d-flex justify-content-end"><button type="button" class=" btn btn-sm btn-secondary " >중복</button></div>
					<button type="button" class="btn btn-secondary btn-block mt-3">Register</button>
				</div>
			</div>
		</section>
		
		
		<script layout:fragment="script">
			
		
		</script>
	
	
</html>