<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<link rel="stylesheet" href="/static/css/style.css">
<title>Insert title here</title>

</head>
<body>
	
	<div id="wrap " class="">
		<header class="gram-bg d-flex align-items-center">
			<h1 class="ml-4 ">DsGram</h1>
		</header>
		<!-- css 색상 고를떄 # 들어가야. -->
		<section class="contents  d-flex justify-content-center">
			<div class="pic bg-dark col-5 p-2">
			
			</div>
			
			<div class=" col-5 p-2">
				<div class="user-box  ml-5">
				<h3 class="">회원가입을 진행하세요</h3>
				<input type="text" class="form-control mt-5" placeholder="아이디">
				<input type="password" class="form-control mt-3" placeholder="password">
				<input type="password" class="form-control mt-3" placeholder="password check">
				<input type="text" class="form-control mt-3" placeholder="이름">
				<input type="text" class="form-control mt-3" placeholder="이메일">
				<button type="button" class="btn btn-secondary btn-block mt-3">Register</button>
			</div>
			</div>
		</section>
		
		<footer class="gram-bg"></footer>
	</div>
	
	
	

</body>
</html>