@charset "UTF-8";

#wrap {
	
	width : 1200px;
	margin : 0 auto;
}

header {
	height : 100px;
	
}

.contents {
	height : 500px;
	
}

footer {
	height : 100px;
}

.gram-bg {
	background-color:#f3ebe6;
	
}

.sidenav{
	width:150px;
	position: fixed;
	
}

.main-contents{
	width:1200px;
	
}
.main-contents > .inputdiv{
	width:800px;
	margin-left:200px;
}

.postBox{
	width:700px;
	display: flex;
  	flex-direction: column;
	
}

.outer {
	width:1200px;
}

.textContent{
	word-break: break-word;
  	overflow-wrap: break-word;
  	white-space: normal;
  	max-width: 100%;
	
}

.postinfo{
	height:60px;
}

.commentandlike{
	height:100px;
	margin-top: auto;
	background-color: #f8f9fa;
}

.poststory{
	min-height:200px;
}

.poststory img {
  height: auto;
  max-height: 200px;
  object-fit: contain; /* 또는 cover, depending on desired cropping */
}
.commentandlike1{
	/*height:100px;*/
	margin-top: auto;
	background-color: #f8f9fa;
}
